*{margin: 0;padding: 0;}
@font-face {
    font-family: fzxjl;
    src: url(font/FZXiJinLJW.TTF);
}
li
{
    list-style: none;
}
body
{
    background-color:azure; /*网页背景颜色*/
}
a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    color: blue;
}
a:hover p
{
    text-decoration: underline;
}
.title_1
{
    width: 100%;height: 50px;
    background-color:ivory; 
}
.title_1 .ynu
{
    width: 100px;
    height: auto;
    float: left;
}
.title_1 .ynu p/*左上角学校标识*/
{
    font-family:宋体;
    text-align:left;
    font-size: 20px;
    color: black;
    line-height: 50px;
    padding-left: 10px;
} 
.title_1 .back
{
    height: 30px;
    width: 50px;
    background-color:;
    float: right;
    margin-top: 9px;
    margin-right: 30px;
}
.title_1 .back p
{
    font-family:宋体;
    text-align:left;
    font-size: 20px;
    text-align: center;
    padding: 4px;
}    
.box_1
{
    width: 1000px;
    height: 200px;
    background-color:;
    margin: 0 auto;
    margin-top: 15px;
}
.title_2 p
{
    font-family: fzxjl;
    text-align:center;
    color:black;
    padding-top: 10px;
    font-size: 30px;
    font-weight:normal;    
}
.speak{
    background-color: white;
    width: 100%;
    height: 60px;
    position: fixed;    
    bottom: 0px;
    /* margin:0 auto;
    left:0;
    right:0;     */

}
.speakbox
{
    width: 900px;
    margin:0 auto;
    left:0;
    right:0;    
}
.shurubox
{
    display: inline-block;
}
.shuru{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 5px;
}
.send{
    display: flex;
    justify-content: flex-start;
    margin-left: 800px;
    margin-top: -45px;
}
.fs{
    height: 30px;
    background-color: rgb(219, 137, 83);
    color: white;
    width: 100px;
    margin-top: 15px;
}
.fs:active
{
    background-color: rgb(173, 57, 3);
}
li
{
    border: 1px solid black;
    background-color: white;
    height: auto;    
    margin-top: 30px;
}
li p
{
    font-size: 30px;
    font-family: 宋体;  
    vertical-align: top;
    margin-left: 30px;
}
.bottom_box
{
    float: left;
    height: 40px;
    width: 100%;
    background-color: ;
    margin-top: 40px;
}
.bottom_box p
{
    text-align: center;
    line-height: 30px;
}