*{margin: 0;padding: 0;}
@font-face {
    font-family: fzxjl;
    src: url(../font/FZXiJinLJW.TTF);
}
html,body
{
    height: 100%;
}
li
{
    list-style: none;
}
body
{
    background-color:white; /*网页背景颜色*/
}
a
{
    color: black;
    text-decoration: none;
}
.title_1
{
    width: 100%;height: 50px;
    background-color:white; 
}
.title_1 .ynu
{
    width: 100px;
    height: auto;
    float: left;
}
.title_1 .ynu p/*左上角学校标识*/
{
    font-family:宋体;
    text-align:left;
    font-size: 20px;
    color: black;
    line-height: 50px;
    padding-left: 10px;
}
.title_1 .back
{
    height: 30px;
    width: 50px;
    float: right;
    margin-top: 9px;
    margin-right: 30px;
}
.title_1 .back p
{
    font-family:宋体;
    text-align:left;
    font-size: 20px;
    text-align: center;
    padding: 4px;
}   
.box_1
{
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
}
.title_2 p
{
    font-family: fzxjl;
    text-align:center;
    color:black;
    padding-top: 10px;
    font-size: 40px;
    font-weight:normal;    
}
.title_2 .jieshao
{
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.title_2 .jieshao p
{
    font-family: fzxjl;
    font-size: 25px;
    color: black;
    text-align: left;
    text-indent: 1cm;
    padding-top: 10px;
    line-height: 30px;
}
.poster
{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
}
.poster li
{
    width: 200px;
    height: 400px;
    float: left;
    margin-right: 66.6px;
}
.poster a:hover img
{
    transform: scale(1.1);
}
.poster .last
{
    margin-right: 0px;
}
.poster img
{
    width: 100%;
    height: auto;
    transition: 0.5s;
}
.picture_1
{
    width: 230px;
    height: 460px;
    float: left;
    margin-right: 66.6px;
    overflow: hidden;
}
.bottom_box
{
    float: left;
    height: 30px;
    width: 100%;
    background-color:whitesmoke ;
    margin-top: 0px;
    position: fixed;
    bottom: 0;
}
.bottom_box p
{
    text-align: center;
    line-height: 30px;
}
a:hover p
{
    text-decoration: underline;
}